/ArrayDemo.class
/Conditional.class
/ForLoop.class
/StringDemo.class
/StringMethods.class
/SwitchCondition.class
/WhileLoop.class
/dataTypes.class
/defaultDataTypes.class
/helloWorld.class
/addition.class
/readingProperties.class
